# Get these from https://dash.cloudflare.com/?to=/:account/r2/api-tokens
# and invoke with terraform init -backend-config="./state.config"

access_key = "<YOUR_R2_ACCESS_KEY>"
secret_key = "<YOUR_R2_ACCESS_SECRET>"
endpoint = "https://<YOUR_ACCOUNT_ID>.r2.cloudflarestorage.com"